* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
}

body {
	color: #bcbcbc;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
}
main {
	text-align: center;
	padding: 1em;
	margin: 0 auto;
	height: 100vh;
	position: relative;
	z-index: 1;
	width: 100vw;
	background: linear-gradient(rgb(0 72 151), rgb(95 172 255 / 88%));
}
button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
#bubbles {
	/*needs to be here casue it's precalculated real css and not the css in file on svelte...*/
	z-index: -1;
	will-change: auto;
	height: 100%;
	width: 98%;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	transform: scale(1);
}
@media only screen and (max-width: 600px) {
	#bubbles {
		/*needs to be here casue it's precalculated real css and not the css in file on svelte...*/
		display: none;
	}
}
